@import base/utility
@import base/base

.bd
  margin: 2rem 0
  width: 50%
  border: 0.5px solid $color
  box-shadow: 0px 1px 1px white

.title
  font-size: 4.8rem
  margin-bottom: 2rem
  color: $color
  text-shadow: 2px 2px 4px white

.content
  max-width: 70%
  margin: 10% auto
  padding: 2.4rem
  font-size: 2.4rem
  background-color: rgba(white, .8)
  border-radius: 1.2rem
  box-shadow: .2rem .2rem 1.2rem chocolate
  // +fx
  // flex-wrap: wrap

/* Basic */

/*=====  comment  ======*/

